{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h3>{{ doc.name }}</h3>
{% endblock %}

{% block header_actions %}
<a class='btn btn-xs btn-light' href='/printview?doctype={{ doc.doctype}}&name={{ doc.name }}&format={{ print_format }}' target="_blank" rel="noopener noreferrer">{{ _("Print") }}</a>
{% endblock %}

{% block page_content %}

<div class="row transaction-subheading">
	<div class="col-xs-2">

		<span class="indicator {{ "blue" if doc.docstatus==1 else "orange" }}">
			{{ _("Submitted") if doc.docstatus==1 or (_("CANCELLED") if doc.docstatus==2 or _("DRAFT")) }}<br>
			{{ frappe.utils.formatdate(doc.posting_date, 'medium') }}
		</span>
	</div>
	<div class="col-xs-2 text-muted text-right small">
		{{ _("Student : ") }}<br>
		{{ _("Program : ") }}
	</div>
	<div class="col-xs-4 text-muted text-left small">
		{{ doc.student }} - {{ doc.student_name }}<br>
		{{ doc.program }}
		
	</div>
	<div class="col-xs-4 text-muted text-right small">
		{{ _("Academic Term : ") }} {{ doc.academic_term }}<br>
		{{ _("Academic Year : ") }} {{ doc.academic_year }}
	</div>
</div>
<hr>

{% if doc._header %}
{{ doc._header }}
{% endif %}

<div class="order-container">

	<!-- items -->
	<div class="order-item-table">
		<div class="row order-items order-item-header text-muted">
			<div class="col-sm-3 col-xs-3 text-left h6 text-uppercase">
				{{ _("No") }}
			</div>
			<div class="col-sm-3 col-xs-3 text-left h6 text-uppercase">
				{{ _("Course / Subject") }}
			</div>
			<div class="col-sm-3 col-xs-3 text-right h6 text-uppercase">
				{{ _("Score") }}
			</div>
			<div class="col-sm-3 col-xs-3 text-right h6 text-uppercase">
				{{ _("Description") }}
			</div>
		</div>
		
	</div>
	{% for d in doc.items %}
		<div class="row order-items order-item-header text-muted">
			<div class="col-sm-3 col-xs-3 text-left text-muted small">
				{{ d.idx }}
			</div>
			<div class="col-sm-3 col-xs-3 text-left text-muted small">
				{{ d.course }}
			</div>
			<div class="col-sm-3 col-xs-3 text-right text-muted small">
				{{ d.get_formatted("score") }}
			</div>
			<div class="col-sm-3 col-xs-3 text-right text-muted small">
				{{ d.description or '' }}
			</div>
		</div>
	{% endfor %}
	<hr>
	<div class="text-right h6 text-uppercase">
		-- END --
	</div>
</div>
{% endblock %}